<div class="comment-card">
  <div class="comment-avatar">
    <%= comment.author_name.to_s.first.upcase.presence || 'C' %>
  </div>
  <div class="comment-body">
    <div class="comment-header">
      <span class="comment-author"><%= comment.author_name %></span>
      <span class="comment-time"><%= distance_of_time_in_words_to_now(comment.created_at || Time.current) %> ago</span>
    </div>
    <div class="comment-text">
      <%= simple_format(comment.body) %>
    </div>
  </div>
</div>